* {
    margin: 0;
    /* 마진 리셋 */
    padding: 0;
    /* 패딩 리셋 */
    box-sizing: border-box;
    /* 박스 영역은 테두리까지 */
}

#container {
    margin: 0 auto;
    /* 화면 중앙에 배치 */
    width: 1300px;
    /* 너비 */
}

/*-------------------헤더: 로고~ 검색창------------------------ */

header {
    width: 100%;
    /* height: 100%; */
    /* height: 550px; */
}

#carouselExampleAutoplaying{
    height: 450px;
}

#logo {
    margin-right: 100px;
}

#navColor {
    background-color: #2d58b5;
    height: 55px;
}

.nav-item {
    margin-right: 25px;

}

#navMember {
    margin-right: 80px;
}

#navMember a {
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

#navName>a {
    color: white;
}

.menu:after {
    /* 호버 시 드롭다운 노출 */
    display: block;
    content: '';
    clear: both;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu>li>a {
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.menu>li>a:hover {
    text-decoration: underline;
}

.menu>li:hover .depth_1 {
    display: block;
    width:180px;
}

.menu .depth_1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.menu .depth_1 a {
    display: block;
    padding: 5px;
}

#carouselText>h1 {
    font-weight: 900;
}

#carouselImg {
    height: 450px;
}

#searchBox {
    width: 100%;
    background-color: #2d58b5;
    margin: 0 0 1.5rem 0;
    height: 55px;
}

#innerSearchBox {
    /* 검색창 안에 돋보기 넣기 */
    position: relative;
    width: 300px;
}

#inputBox {
    width: 100%;
}

#inputBox::placeholder {
    text-align: center;
}

#icon {
    position: absolute;
    width: 27px;
    top: 10px;
    right: 12px;
    margin: 0;
    cursor: pointer;
}

/*------------ footer-------------- */
footer {
    width: 100%;
    height: 250px;
}

.footerSection {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #313842;
    height: 100px;
}

.footerSection li {
    float: left;
    /* width: 300px; */
    width: 25%;
    list-style: none;
}

.footer_inner {
    list-style: none;
    position: relative;
    max-width: 1480px;
    margin: 0 auto;
    box-sizing: border-box;
}

.company_call {
    padding: 0 0 0 50px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    background: url(../images/call.png) no-repeat 0 center;

}

.link_select_wrap {
    line-height: 60px;
}

.link_select_wrap select {
    position: relative;
    background: #313842;
    vertical-align: middle;
    width: 200px;
    margin-bottom: 0px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 9px 0 8px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font-size: 14px;
}

.btn_go {
    display: inline-block;
    background: #303740;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 34px;
    vertical-align: middle;
    line-height: normal;
}

.footerSection2 {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #434C5B;
    height: 150px;
}

.footer_inner2 {
    list-style: none;
    position: relative;
    max-width: 1480px;
    margin: 0 auto;
    box-sizing: border-box;
}

.li_1 {
    float: left;
    width: 30%;
    margin: 20px 0 0 0;
}

.li_2 {
    float: left;
    width: 70%;
    margin: 20px 0 0 0;
}

.footer_top_menu {
    margin: 0;
    padding: 0;
}

.footer_top_menu>li {
    color: white;
    list-style: none;
    position: relative;
    float: left;
}

.footer_top_menu>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    letter-spacing: -1px;
}

.footer_address span {
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #c2c4c8;
}

.footer_address {
    display: block;
}

.copyright {
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #c2c4c8;
}

.footer_mark_wrap {
    position: relative;
    padding-left: 30px;
}

.footer_mark_list li {
    display: inline-block;
    margin: 0 24px 4px 0;
    text-align: left;
    line-height: 22px;
    font-size: 12px;
    color: #c2c4c8;
    letter-spacing: -2px;
    background-repeat: no-repeat;
    background-position: 0 center;
    box-sizing: border-box;
}

.footer_mark_list img {
    width: 80%;
    height: 80%;
}

.mark1{
    background-image: url(../images/mark1.png);
    padding-left: 50px;
}

.mark2{
    background-image: url(../images/mark2.png);
    padding-left: 50px;
    margin-right: 24px;
}

.mark3{
    background-image: url(../images/mark3.png);
    padding-left: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}