/*---------------- main ------------------ */
#mainStyle {
    width: 100%;
    margin: 70px auto;
}

#mainTitle {
    text-align: center;
}

#mainTitle>h2 {
    font-size: 40px;
    font-weight: 700;
}

#mainServiceBox {
    margin: 30px auto;
    width: 100%;
    height: 198px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.mainServiceText {
    list-style: none;
}

.iconHover {
    text-decoration: none;
    color: black;
    width: 20%;
    height: 68px;
    float: left;
    text-align: center;
    padding-top: 130px;
    font-weight: 600;
    font-size: 18px;
}

.doctor {
    background: url(/images/doctor.png) center center/35% no-repeat;
}


.reservationInquiry {
    background: url(/images/Reservation_inquiry.png) center center/35% no-repeat;
}

.medicalAppointment {
    background: url(/images/medical_appointment.png) center center/35% no-repeat;
}

.TelephoneConsultation {
    background: url(/images/Telephone_consultation.png) center center/35% no-repeat;
}

.myChart {
    background: url(/images/my_chart.png) center center/35% no-repeat;
}

#mainServiceButton {
    margin: 0 16px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.mainButton {
    list-style: none;
}

.serviceButton {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    border: none;
    background-color: #2d58b5 !important;
    line-height: 90px;
    margin: 20px 50px;
}

.print {
    background: url(../images/print.png) center right/15% no-repeat;
}

.myVideo {
    background: url(../images/my_video.png) center right/15% no-repeat;
}

.payment {
    background: url(../images/payment.png) center right/15% no-repeat;
}

#mainTitle2 {
    text-align: center;
    padding: 100px;
}

#mainTitle2>h2 {
    font-size: 40px;
    font-weight: 700;
}

.arr span {
    position: relative;
}

.arr span::after {
    content: '';
    width: 20px;
    /* 사이즈 */
    height: 20px;
    /* 사이즈 */
    border-top: 3px solid #121212;
    /* 선 두께 */
    border-right: 3px solid #121212;
    /* 선 두께 */
    display: inline-block;
    transform: rotate(225deg);
    /* 각도 */
    position: absolute;
    right: 220px;
    top: 50px;
}

.arr2 span {
    position: relative;
}

.arr2 span::after {
    content: '';
    width: 20px;
    /* 사이즈 */
    height: 20px;
    /* 사이즈 */
    border-top: 3px solid #121212;
    /* 선 두께 */
    border-right: 3px solid #121212;
    /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg);
    /* 각도 */
    position: absolute;
    left: 220px;
    top: 50px;
}

.Box {
    width: 560px;
    height: 270px;
    margin: 0 40px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
    padding-top: 35px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.playBanner {
    display: inline-flex;
}

.youtube1 {
    display: block;
    color: #444;
    font-size: 16px;
    padding-top: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.youtube2 {
    display: block;
    color: #444;
    font-size: 16px;
    padding-top: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    margin: 30px;
    border-radius: 50%;
    border: #ddd;
    display: inline-block;
}