* {
    margin: 0;
    /* 마진 리셋 */
    padding: 0;
    /* 패딩 리셋 */
    box-sizing: border-box;
    /* 박스 영역은 테두리까지 */
}

#container {
    margin: 0 auto;
    /* 화면 중앙에 배치 */
    width: 1300px;
    /* 너비 */
}

/*-------------------헤더: 로고~ 검색창------------------------ */

header {
    width: 100%;
}

#logo {
    margin-right: 100px;
}

#navColor {
    background-color: #2d58b5;
}

.nav-item {
    margin-right: 25px;

}

#navMember {
    margin-right: 80px;
}

#navMember a {
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

#navName>a {
    color: white;
}

.menu:after {
    /* 호버 시 드롭다운 노출 */
    display: block;
    content: '';
    clear: both;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu>li>a {
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.menu>li>a:hover {
    text-decoration: underline;
}

.menu>li:hover .depth_1 {
    display: block;
}

.menu .depth_1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.menu .depth_1 a {
    display: block;
    padding: 5px;
}

#carouselText>h1 {
    font-weight: 900;
}

#carouselImg {
    height: 450px;
}

#searchBox {
    background-color: #2d58b5;
    margin: 0 -1px;
    height: 56px;
}

#innerSearchBox {
    /* 검색창 안에 돋보기 넣기 */
    position: relative;
    width: 300px;
}

#inputBox {
    width: 100%;
}

#inputBox::placeholder {
    text-align: center;
}

#icon {
    position: absolute;
    width: 27px;
    top: 10px;
    right: 12px;
    margin: 0;
    cursor: pointer;
}

/*---------------- main ------------------ */
#mainStyle {
    width: 100%;
    margin: 70px auto;
}

#mainTitle {
    text-align: center;
}

#mainTitle>h2 {
    font-size: 40px;
    font-weight: 700;
}

#mainServiceBox {
    margin: 30px auto;
    width: 100%;
    height: 198px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.mainServiceText {
    list-style: none;
}

.iconHover {
    text-decoration: none;
    color: black;
    width: 20%;
    height: 68px;
    float: left;
    text-align: center;
    padding-top: 130px;
    font-weight: 600;
    font-size: 18px;
}

.doctor {
    background: url(../images/doctor.png) center center/35% no-repeat;
}


.reservationInquiry {
    background: url(../images/Reservation_inquiry.png) center center/35% no-repeat;
}

.medicalAppointment {
    background: url(../images/medical_appointment.png) center center/35% no-repeat;
}

.TelephoneConsultation {
    background: url(../images/Telephone_consultation.png) center center/35% no-repeat;
}

.myChart {
    background: url(../images/my_chart.png) center center/35% no-repeat;
}

#mainServiceButton {
    margin: 0 16px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.mainButton {
    list-style: none;
}

.serviceButton {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    border: none;
    background-color: #2d58b5 !important;
    line-height: 90px;
    margin: 20px 50px;
}

.print {
    background: url(../images/print.png) center right/15% no-repeat;
}

.myVideo {
    background: url(../images/my_video.png) center right/15% no-repeat;
}

.payment {
    background: url(../images/payment.png) center right/15% no-repeat;
}

#mainTitle2 {
    text-align: center;
    padding: 100px;
}

#mainTitle2>h2 {
    font-size: 40px;
    font-weight: 700;
}

.arr span {
    position: relative;
}

.arr span::after {
    content: '';
    width: 20px;
    /* 사이즈 */
    height: 20px;
    /* 사이즈 */
    border-top: 3px solid #121212;
    /* 선 두께 */
    border-right: 3px solid #121212;
    /* 선 두께 */
    display: inline-block;
    transform: rotate(225deg);
    /* 각도 */
    position: absolute;
    right: 220px;
    top: 50px;
}

.arr2 span {
    position: relative;
}

.arr2 span::after {
    content: '';
    width: 20px;
    /* 사이즈 */
    height: 20px;
    /* 사이즈 */
    border-top: 3px solid #121212;
    /* 선 두께 */
    border-right: 3px solid #121212;
    /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg);
    /* 각도 */
    position: absolute;
    left: 220px;
    top: 50px;
}

.Box {
    width: 560px;
    height: 270px;
    margin: 0 40px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
    padding-top: 35px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.playBanner {
    display: inline-flex;
}

.youtube1 {
    display: block;
    color: #444;
    font-size: 16px;
    padding-top: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.youtube2 {
    display: block;
    color: #444;
    font-size: 16px;
    padding-top: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    margin: 30px;
    border-radius: 50%;
    border: #ddd;
    display: inline-block;
}

/*------------ footer-------------- */
footer {
    width: 100%;
}

.footerSection {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #313842;
    height: 100px;
}

.footerSection li {
    float: left;
    width: 305px;
    list-style: none;
}

.company_call {
    display: inline-block;
    padding: 0 0 0 68px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 36px;
}

.footerSection1 {
    list-style: none;
    float: left;
    color: white;
    margin: 0 20px;
}


.link_select_wrap select {
    position: relative;
    background: #313842;
    vertical-align: middle;
    width: 240px;
    margin-bottom: 0px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 9px 0 8px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font-size: 14px;
    line-height: 1;
}

.btn_go {
    display: inline-block;
    background: #303740;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 34px;
    vertical-align: middle;
}

.footerSection2 {
    padding: 28px 20px;
    background: #434C5B;
    height: 150px;

}