* {
    margin: 0;  /* 마진 리셋 */
    padding: 0; /* 패딩 리셋 */
    box-sizing: border-box; /* 박스 영역은 테두리까지 */ 
}

#container {
    margin: 0 auto; /* 화면 중앙에 배치 */
    width: 1300px; /* 너비 */
}

/*헤더: 로고~ 검색창 */

header {
    width: 100%;
    height: 100%;
}

#logo {
    margin-right: 100px;  /*오른쪽 네브바와의 간격 조정*/
}

#navColor {
    background-color: #2d58b5;
}

.nav-item {
    margin-right: 25px;

}

#navMember {
    margin-right: 80px;
}

#navMember a {
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

#navName>a {
    color: white;
}

.menu:after {  /* 호버 시 드롭다운 노출 */
    display: block;
    content: '';
    clear: both;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu>li>a {
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.menu>li>a:hover {
    text-decoration: underline;
}

.menu>li:hover .depth_1 {
    display: block;
}

.menu .depth_1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.menu .depth_1 a {
    display: block;
    padding: 5px;
}

#carouselText>h1 {
    font-weight: 900;
}

#carouselImg {
    height: 450px;
}

#searchBox {
    background-color: #2d58b5;
    margin: 0 -1px;
    height: 56px;
}

#innerSearchBox { /* 검색창 안에 돋보기 넣기 */
    position: relative;
    width: 300px;
}

#inputBox {
    width: 100%;
}

#inputBox::placeholder {
    text-align: center;
}

#icon {
    position: absolute;
    width: 27px;
    top: 10px;
    right: 12px;
    margin: 0;
    cursor: pointer;
}

/* 메인 화면 */
#mainStyle {
    width: 100%;
    margin: 30px auto;
}

#mainTitle {
    text-align: center;
}

#mainServiceBox {
    margin: 30px auto;
    width: 100%;
    height: 198px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.mainServiceText {
    list-style: none;
}

.iconHover {
    text-decoration: none;
    color: black;
    width: 20%;
    height: 68px;
    float: left;
    text-align: center;
    padding-top: 130px;
    font-weight: 600;
    font-size: 18px;
}

.doctor {
    background: url(../images/doctor.png) center center/35% no-repeat;
}


.reservationInquiry {
    background: url(../images/Reservation_inquiry.png) center center/35% no-repeat;
}

.medicalAppointment {
    background: url(../images/medical_appointment.png) center center/35% no-repeat;
}

.TelephoneConsultation {
    background: url(../images/Telephone_consultation.png) center center/35% no-repeat;
}

.myChart {
    background: url(../images/my_chart.png) center center/35% no-repeat;
}

#mainServiceButton {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.mainButton {
    list-style: none;
}

.serviceButton {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #2d58b5 !important;
    line-height: 90px;
    margin: 20px 50px;
}

.print {
    background: url(../images/print.png) center right/15% no-repeat;
}
.myVideo {
    background: url(../images/my_video.png) center right/15% no-repeat;
}
.payment {
    background: url(../images/payment.png) center right/15% no-repeat;
}

#mainTitle2 {
    text-align: center;
    padding: 100px;
}

/* footer */
footer {
    height: 250px;
}
