
/*---------------- 로그인 ------------------ */
#mainStyle {
    width: 100%;
    height: 800px;
}

.loginNotice {
    text-align: center;
}

#login_inputID #login_inputPW{
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 0 20px;
    width: 30%;
    display: block;
}