
/*---------------- 로그인 ------------------ */
#mainStyle {
    width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    height: 600px;
}

.loginNotice {
    text-align: center;
    margin: 80px;
}

#loginWrap {
    display: flex;
}
#leftBox {
    width: 50%;
    margin-right: 40px;
}

#rightBox {
    width: 50%;
}
#leftBox div {
    border: 1px solid #d9d9d9;
    padding: 0 20px;
    width: 100%;
    display: block;
    margin: 10px;
    height: 50px;
}
/* #login_inputID {
    
}

#login_inputPW {
    
} */

#loginBt {
    
    color: white;
    background-color:#2d58b5;
    
}

#bts {
    padding: 0;
}

#bts input {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
    display: block;
    height: 50px;
    text-align: right;
}
#naverBt {
    background-color: #00ad00 !important;
    background: url(../images/naver.png) center left 25px/10% no-repeat;
    color: white;
    float: left;
}

#kakaoBt {
    
    background-color: #f9e000 !important;
    
    background: url(../images/kakao.png) center left 25px/12% no-repeat;
    
    color: #371c1d;
    float: right;
}


