#logo {
    margin-right: 100px;
}

#navColor {
    background-color: #2d58b5;
}

.nav-item {
    margin-right: 25px;

}

#navMember {
    margin-right: 80px;
}

#navMember a {
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

#navName>a {
    color: white;
}

/* 호버 시 드롭다운 노출 */
.menu:after {
    display: block;
    content: '';
    clear: both;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu>li>a {
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.menu>li>a:hover {
    text-decoration: underline;
}

.menu>li:hover .depth_1 {
    display: block;
}

.menu .depth_1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.menu .depth_1 a {
    display: block;
    padding: 5px;
}

#carouselText>h1 {
    font-weight: 900;
}

#carouselImg {
    height: 450px;
}

#searchBox {
    background-color: #2d58b5;
    height: 56px;
}

/* 검색창 안에 돋보기 넣기 */
#innerSearchBox {
    position: relative;
    width: 300px;
}

#inputBox {
    width: 100%;
}

#inputBox::placeholder {
    text-align: center;
}

#icon {
    position: absolute;
    width: 27px;
    top: 10px;
    right: 12px;
    margin: 0;
}

/* 메인 화면 */
#mainStyle {
    width: 80%;
    margin: 30px auto;
}
#mainTitle {
    text-align: center;
}