#mainStyle {
  width: 1000px;
  margin: 0 auto;
  height: 710px;
}

/*회원가입 제목*/
h1 {
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

hr {
  margin-top: 40px;
}

.section {
  width: 100%;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  border-right: none;
  border-left: none;
  margin: 1rem 0;
  padding: 1rem 0;
}

td{
  font-weight: bold;
  margin: 0.5rem 0;  /* 0.5rem = 8px */
  padding: 0.5rem 0; /* 0.5rem = 8px */
}

#info1 {
  width: 15%;
  border-right : 1.5px solid #ced4da;
  height : 50px;
}

#infobox1 {
  padding-left: 30px;
  width: 85%;
}

/* #commuter {
  margin: 1.5rem 0;  
  padding: 1.5rem 0; 
} */

#signUpFormTitle {
  margin-top: 40px; 
  display: flex;
} 

#signUpFormTitle > p {
  margin-left: 614px;
}


/* 가입하기, 취소 버튼 */
#twoButton {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;  /*버튼사이 간격*/
  margin-top: 30px;
}

#buttonA {
border-color: #E77502;
width: 120px;
height: 40px;
size: 40px;
background-color: #E77502;
color: white;
}

#buttonB {
border-color: #E77502;
width: 80px;
height: 40px;
size: 40px;
background-color: #E77502;
color: white;
}